@tailwind utilities;
@tailwind base;
@tailwind components;

@font-face {
  font-family: "Lora";
  src: url("/assets/fonts/Lora/Lora-Regular.ttf");
  font-weight: 400 800;
}

* {
  @apply selection:bg-primary selection:text-black;
}

body {
  @apply bg-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-primary font-lora;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

h5 {
  @apply text-xl;
}

h6 {
  @apply text-lg;
}

p {
  @apply text-gray-500;
}
